<div class = "card-container">
    <ul>
        {{#each posts as |post|}}
        <li>
            {{> post-info post }}
        </li>
        {{/each}}
    </ul>
    {{#unless posts as |post|}}
    <h1>No post found</h1>
    {{/unless}}
</div>